@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        Bienvenido a nuestro sistema veterinario <br />
        Carlos Lozano
    </h1>
    <p>
        Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.
    </p>

    <div class="caja-inicio">
        <div class="slider-inicio" id="sliderInicio">
            <img src="@Url.Content("~/img/imgUno.jpg")" class="img-inicio" />
            <img src="@Url.Content("~/img/imgDos.jpg")" class="img-inicio" />
            <img src="@Url.Content("~/img/imgTres.jpg")" class="img-inicio" />
        </div>
    </div>
</div>
