@model veterinaria_app_ok.Models.Atencion

@{
    ViewData["Title"] = "Create";
}

<h1>Registro de Atención</h1>

<h4>Atencion</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">
                    <div class="form-group">
                        <label asp-for="Observaciones" class="control-label"></label>
                        <textarea asp-for="Observaciones" class="form-control" ></textarea>
                        <span asp-validation-for="Observaciones" class="text-danger"></span>
                    </div>

                 <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="MascotaId" class="control-label"></label>
                        <select asp-for="MascotaId" class ="form-control" asp-items="ViewBag.MascotaId"></select>
                    </div>

            </div>
            <div class="col-md-6">
                <h5>Servicios</h5>
                <hr />


                    <div class="form-group">
                        <label asp-for="Servicios" class="control-label">Servicios</label>
                        <select asp-for="Servicios" asp-items="ViewBag.Servicios" multiple class="form-control"></select>
                    </div>


            </div>
           </div>
          
            <div class="form-group">
                <input  type="submit" value="Crear" class="btn btn-primary mt-4" />
            </div>
        </form>
    </div>

</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
